{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}    
    <div class="row mt-4">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if message.startswith('Account')%}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif%}
            {% endwith %}
            <form method="POST" action="">
                {{ account_form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 text-white-primary">Update Info</legend>
                    <div class="form-group">
                        {{ account_form.username.label(class="form-control-label text-white-primary") }}
                        {% if account_form.username.errors%}
                            {{ account_form.username(class="form-control form-control-lg is-invalid", pattern=".{2,15}", title="Username length should be 2-15 characters") }}
                            <div class="invalid-feedback">
                                {% for error in account_form.username.errors %}
                                    <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ account_form.username(class="form-control form-control-lg", pattern=".{2,15}", title="Username length should be 2-15 characters") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ account_form.email.label(class="form-control-label text-white-primary") }}
                        {% if account_form.email.errors%}
                            {{ account_form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in account_form.email.errors %}
                                    <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ account_form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ account_form.update(class="btn")}}
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if message.startswith('Password')%}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif%}
            {% endwith %}
            <form method="POST" action="">
                {{ passwd_form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 text-white-primary">Update Password</legend>
                    <div class="form-group">
                        {{ passwd_form.new_password.label(class="form-control-label text-white-primary") }}
                        {% if passwd_form.new_password.errors%}
                            {{ passwd_form.new_password(class="form-control form-control-lg is-invalid", pattern=".{8,20}", title="Password length should be 8-20 characters") }}
                            <div class="invalid-feedback">
                                {% for error in passwd_form.new_password.errors %}
                                    <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ passwd_form.new_password(class="form-control form-control-lg", pattern=".{8,20}", title="Password length should be 8-20 characters") }}
                        {% endif %}
                    </div>
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ passwd_form.confirm_password.label(class="form-control-label text-white-primary") }}
                            {% if passwd_form.confirm_password.errors%}
                                {{ passwd_form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in passwd_form.confirm_password.errors %}
                                        <small>{{ error }}</small>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ passwd_form.confirm_password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                </fieldset>
                <div class="form-group">
                    {{ passwd_form.update(class="btn")}}
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock content%}